<%= form_for([@movie, @movie.reviews.build]) do |f| %>
  <div id="rating-form" class="form-group">
    <label>Rating</label>
  </div>
  <div class="form-group">
    <%= f.text_area :comment, placeholder: "Review", :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: "btn-custom2", :class => "form-control" %>
  </div>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>